<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Trend Report</title>
</head>
<body>
    <h1>Generate Trend Report</h1>
    <form action="{{ url_for('create_secure_trend') }}" method="POST">
        <input type="radio" id="report" name="task" value="report">
        <label for="report">Generate Word Report</label><br>
        <input type="radio" id="keywords" name="task" value="keywords">
        <label for="keywords">Print Keywords</label><br>
        <input type="radio" id="categories" name="task" value="categories">
        <label for="categories">Print Categories</label><br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>
